@import '../../../../styles.scss';

.container{
    position: relative;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    min-width: 300px;
    margin: auto;
    .bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        z-index: -1;
        transition: background .25s;
        img{
            position: absolute;
            user-select: none;
            object-fit: cover;
            object-position: 80% 0;
            width: 100%;
            height: 100%;
            z-index: 10;
            mask-image: linear-gradient(to bottom, black 80%, transparent), linear-gradient(to top, black 80%, transparent), linear-gradient(to right, black 90%, transparent), linear-gradient(to left, black 90%, transparent);
            mask-composite: intersect;
            -webkit-mask-composite: intersect;
            filter: brightness(.5);
        }
        .layerBlack{
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: .5);
        }
    }
    .slider{
        color: white;
        min-width: 300px;
        height: 330px;;
        position: relative;
        overflow: hidden;
        .allImg{
            position: absolute;
            transition: top .25s;
            .listEpisode{
                width: 300px;
                display: flex;
                span{
                    padding-top: 5px;
                    text-align: end;
                    width: 50px;
                    height: 20px;
                    user-select: none;
                }
                img{
                    width: 150px;
                    aspect-ratio: 5/3;
                    object-fit: cover;
                    cursor: pointer;
                    transition: width .25s;
                    padding: 5px;
                    &.sizeImg{
                        width: 250px;
                    }
                }
            }
        }
    }
    .description{
        width: 100%;
        color: white;
        font-size: 20px;
        padding: 4em 0;
        text-align: center;
        align-content: end;
        h3{
            text-wrap: nowrap;
            margin-bottom: 10px;
            font-size: clamp(1.375rem, 0.969rem + 1.625vw, 2.188rem);
            user-select: text;
        }
        p{
            text-wrap: pretty;
            font-size: clamp(0.875rem, 0.688rem + 0.75vw, 1.25rem);
            width: 90%;
            margin: auto;
            user-select: text;
        }
    }
}
@include mediaQuerie(medium){
    .container{
        flex-direction: row;
        justify-content: center;
        .description{
            height: 330px;
            text-align: start;
            padding: 0;
            align-content: center;
            padding-left: clamp(0.313rem, -2.422rem + 5.469vw, 2.5rem);
            p{
                margin: 0;
            }
        }
    }
}
@include mediaQuerie(large){
    .container{
        .description{
            max-width: 700px;
            padding-right: clamp(1.25rem, -1.827rem + 4.808vw, 2.5rem);
            p{
                width: 80%;
            }
        }
    }
}