<div class="container" >
    <div class="bg" [ngStyle]="{'background-image': bgCurrent}">
        <div class="layerBlack"></div>
    </div>
    <div class="slider">
        <div class="allImg" [ngStyle]="{'top': topAllImg}">
            @for (item of seasonCurrent; track $index) {
                <div class="listEpisode">
                    <span>{{item.episode}}</span>
                    <img (click)="moveEpisose($index)" (click)="selectEpisode($index)" [ngClass]="{'sizeImg': selectImg == $index}" [src]="item.img" alt="">
                </div>
            }
        </div>
    </div>
    <div class="description">
        <h3>Titulo {{subTitle}}</h3>
        <p>Descripcion: {{description}}</p>
    </div>
</div>