@import '../../../styles.scss';

.slider{
    min-width: 300px;
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
    .content{
        position: absolute;
        width: 85%;
        z-index: 1;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .logo{
            svg{
                width: clamp(12.5rem, 3.571rem + 28.571vw, 25rem);
                fill: white
            }
        }
        p{
            color: white;
            text-wrap: pretty;
            margin-bottom: 1em;
            font-size: clamp(1rem, 0.821rem + 0.571vw, 1.25rem);
        }
    }
    .listImg{
        height: 100%;
        display: flex;
        position: absolute;
        transition: left .25s ease-in-out;
        .item{
            width: 100%;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
                filter: brightness(.3);
                mask-image: linear-gradient(black 80%, transparent);
            }
        }
    }
    .buttons{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        margin: auto;
        display: flex;
        z-index: 1;
        justify-content: space-between;
        button{
            width: 30px;
            cursor: pointer;
            aspect-ratio: 1/1;
            border: none;
            outline: none;
            background-color: transparent;
            backdrop-filter: blur(10px);
            border-radius: 50%;            
            svg{
                fill: white;
                font-weight: bold;
            }
        }
    }
}

@include mediaQuerie(medium){
    .slider{
        height: 650px;
    }
    .content{
        p{
            width: 90%;
            margin: 0 auto;
        }
    }
}
@include mediaQuerie(xxlarge){
    .slider{
        max-width: 1920px;
        margin: auto;
    }
    .content{
        p{
            width: 75%;
        }
    }
}