@import '../../../../styles.scss';

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    .summary{
        text-align: start;
        height: 450px;
    }
}
.characters{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .slider{
        overflow: hidden;
        width: 300px;
        height: 150px;
        display: flex;
        align-items: center;
        position: relative;
        .items{
            position: absolute;
            width: max-content;
            display: flex;
            transition: left .25s ease-in-out;
            .item{
                width: 75px;
                height: 75px;
                padding: 5px;
                img{
                    width: 100%;
                    user-select: none;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                    cursor: pointer;
                    filter: brightness(.5);
                    &.border{
                        outline: 3px solid white;
                        filter: brightness(1);
                    }
                }
            }
        }
    }
    .buttons{
        button{
            user-select: none;
            position: absolute;
            width: 50px;
            aspect-ratio: 1/1;
            bottom: -25px;
            background-color: transparent;
            border: none;
            outline: none;
            border-radius: 50%;
            cursor: pointer;
            transform: scale(1.5);
            transition: opacity .25s, border .25s;
            &:disabled{
                opacity: .5;
                border: 0;
                cursor: default;
                transform: scale(0.95);
            }
            svg{
                fill: white;
                filter: drop-shadow(0 0 5px white);
            }
        }
        .prev{
            left: calc(50% + 25px);
        }
        .next{
            right: calc(50% + 25px);
        }
    }
}
@include mediaQuerie(medium){
    .container{
        flex-direction: row;
        justify-content: center;
        .summary{
            width: 100%;
            margin-left: -50px;
            z-index: $z-element;
            height: 350px;
            padding-left: clamp(1.25rem, -2.187rem + 9.167vw, 4.688rem);
        }
    }
    .characters{
        padding: 25px 0;
        justify-content: end;
        .slider{
            transform: rotate(90deg);
            width: 300px;
            height: 300px;
            left: 0px;
            .items{
                .item{
                    img{
                        padding: 5px;
                        transform: rotate(-90deg);
                    }
                }
            }
        }
        .buttons{
            button{
                svg{
                    transform: rotate(90deg);
                }
            }
            .prev{
                bottom: -25px;
                left: calc(100% - 175px);
            }
            .next{
                top: -25px;
                bottom: auto;
                right: 125px;
            }
        }
    }
}

@include mediaQuerie(large){
    .container{
        .summary{
            margin-left: 0;
            width: 100%;
            max-width: 700px;
        }
    }
}